

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Animals </title>
    <table border = "1">
      <tr>
        <th>Animal Name</th>
        <th>Species Name</th>
        <th>Sanctuary ID</th>
        <th>Health</th>
        <th>Age </th>
        <th> Gender</th>
      </tr>
      {% for anml in animal %}
      <tr> 
        <td>{{ anml.animal_name }}</td>
        <td>{{ anml.species_name }}</td>
        <td>{{ anml.Sanctuary_ID }}</td>
        <td>{{ anml.health }}</td>
        <td>{{ anml.Age }}</td>
        <td>{{ anml.gender}}</td>
      </tr>
      {% endfor %}
      


    </table>
    

  </head>
  <body>
  </body>
</html>


