

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title> Price List </title>
  </head>
  <body>
  <table class = "table table-hover">
    <thead class= "thead-dark">
      <th> Item </th>
      <th> Rate </th>
    </thead>
      {% for eml in data %}
      <tr> 
        <td>{{ eml.item }}</td>
        <td>{{ eml.rate }}</td>

      </tr>
      {% endfor %}

  
    </table>
  </body>
</html>


