html,

body {
  background-image: url("https://image.ibb.co/de6JzG/bitmap_1_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#form1{
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  align-content: left;
  background: rgb(208, 80, 80);
  padding: 30px;
  width: 100%;
  position: relative;
  padding: 0px;
  text-align: left;
  /* font jumbotron */
}

.filter-switch label {
  cursor: pointer;
}

.filter-switch-item input:checked+label {
  color: inherit;
}

.filter-switch-item input:not(:checked)+label {
  --bg-opacity: 0;
  box-shadow: none;
}